@import url('./__image/card__image.css');
@import url('./__content/card__content.css');
@import url('./__title/card__title.css');

.card {
    display: flex;
    flex-direction: column;
    position: relative;
}
